<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TODO APP</title>

  <!--Bootstrap-->
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <style>

    main{
      padding: 6%;
    }

    h1{
      margin-top: 30px;
      text-align: center;
    }
    form {
      margin: 85px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
 
    body{
      display: flex;
      flex-direction: column;
      background-color: Lavender;
    }

    .card {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 15px;
      text-align: center;
    }

    #lista_tareas{
      display: flex;
      flex-direction: row;
      columns: 3;
      flex-wrap: wrap;
      place-content: center;
    }

    #tituloS{
      font-weight: 900;
    }
  </style>
</head>

<body>

  <h1 style=" font-family: fantasy;" >LISTA DE TAREAS</h1></center>
  <form action="enviar" method="POST" class="form-group">
    <b><label for="tituloU">NOMBRE DE LA TAREA</label></b>
    <input type="text" class="form-control" name="titulo" id="titulo_id" /><br />

    <b><label for="correoU">CORREO ELECTRÓNICO</label></b>
    <input type="email" class="form-control" name="correo" id="correo_id" /><br />

    <b><label for="prioridadU">PRIORIDAD DE LA TAREA</label></b><br>

    <select class="form-control" name="prioridad" id="prioridad_id">
			<option value="Baja">Baja</option>
			<option value="Media">Media</option>
			<option value="Alta">Alta</option>
    </select>	<br>
<center>
    <input type="submit" class="btn btn-primary" value="Enviar" />
  </form>
  
  <form action="{{url_for('borrar')}}" method="post" class="card-body">
    <button type="submit" class="btn btn-danger mb-2">Eliminar tareas</button>
  </form>
  <br/>
</center>
<main>
  <div id="lista_tareas">
    <div class="card_tarea card">
     <!-- <span id="idS">1</span>-->
      <span class="card-title"id="tituloS">TAREA </span>
      <span class="card-text" id="correoS"> CORREO ELECTRÓNICO</span>
      <span class="card-text" id="prioridadS">PRIORIDAD</span>
    </div>
  </div>
</main>
    
</body>
<script>
  var container = document.getElementById("lista_tareas"), test = {{ datosF | tojson }};

for(var i = 0; i < test.length; i++){
 //Creamos los el contenedor de la tarea
  var card = document.createElement('div');
  card.setAttribute("class", "card");
 //Creamos los elementos de la tarea
 // var tareaID = document.createElement('span');
 // codigoID.setAttribute("id", "idS");

  var tareaTitulo = document.createElement('span');
  tareaTitulo.setAttribute("id", "tituloS");

  var tareaCorreo = document.createElement('span');
  tareaCorreo.setAttribute("id", "correoS");

  var tareaPrioridad = document.createElement('span');
  tareaPrioridad.setAttribute("id", "prioridadS");
  
  //Creamos las variable de los datos de cada tarea
 // var txtID = document.createTextNode(test[i].id);
  var txtTitulo = document.createTextNode(test[i].titulo);
  var txtCorreo = document.createTextNode(test[i].correo);
  var txtPrioridad = document.createTextNode(test[i].prioridad);

 // tareaID.appendChild(txtID);
  tareaTitulo.appendChild(txtTitulo);
  tareaCorreo.appendChild(txtCorreo);
  tareaPrioridad.appendChild(txtPrioridad);

//  card.appendChild(tareaID);
  card.appendChild(tareaTitulo);
  card.appendChild(tareaCorreo);
  card.appendChild(tareaPrioridad);

    
  if(test[i].prioridad == 'Alta') {
    card.setAttribute('style', 'background-color: red;')
  }else if(test[i].prioridad == 'Media'){
    card.setAttribute('style', 'background-color: Yellow;')
  }else{
    card.setAttribute('style', 'background-color: GreenYellow;')
  }

  container.appendChild(card);
}
</script>


</html>